html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform-origin: bottom left;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  max-width: 19em;
  transform-origin: bottom left;
  transform: rotate(-5deg);
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  background-color: #c09;
  opacity: .3;
  color: #990073;
  border-color: #990073;
}

.content {
  left: 3em;
  top: 4.5em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
  animation: appear-in 1s linear forwards;
}

@keyframes appear-in {

  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
    filter: blur(7px);
  }

  90% {
    filter: blur(7px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}

.cone {
  top: 16em;
  left: 3em;
  z-index: 2;
  animation: fly-in 300ms linear forwards;
}

.mint {
  top: 10.4em;
  left: 3em;
  z-index: 1;
  animation: fly-in 400ms linear forwards;
}

.chip {
  top: 5.5em;
  left: 3.5em;
  z-index: 3;
  animation: fly-in 600ms linear forwards;
}

.fudge {
  top: 1.7em;
  left: 3em;
  z-index: 4;
  animation: fly-in 800ms linear forwards;
}

.cherry {
  z-index: 5;
  top: -2em;
  left: 3em;
  animation: fly-in 1000ms linear forwards;
}

@keyframes fly-in {

  from {
    transform: translateY(-20em);
  }

  to {
    transform: translateY(0);
  }

}

.banner {
  background-image: repeating-linear-gradient(-33deg, #d4fdff, #d4fdff 1%, #c9fcff 1%, #c9fcff 2%);
  background-size: cover;
  height: 25.5em;
  border: solid 8px #b3fbff;
}
