html {
  font-family: 'Fredoka One', cursive;
}

h1 {
  color: #990073;
}

p {
  color: #c09;
  max-width: 19em;
}

.content {
  left: 2em;
  top: 10em;
}

.cone {
  top: -25em;
  z-index: 2;
}

.mint {
  top: -21em;
  z-index: 1;
}

.chip {
  top: -15em;
  left: .5em;
  z-index: 3;
}

.fudge {
  top: -9em;
  z-index: 4;
}

.cherry {
  z-index: 5;
  top: -3em;
}

.banner {
  background-image: repeating-linear-gradient(-33deg, #d4fdff, #d4fdff 1%, #c9fcff 1%, #c9fcff 2%);
  background-size: cover;
  height: 25.5em;
  border: solid 8px #b3fbff;
}
